@use "variable" as *;

// scss-docs-start theme-colors-map

$colors: (
    "primary": $primary,
    "primary-text": $primary-text,
    "secondary": $secondary,
    "title": $title,
    "paragraph": $paragraph,
    "black": $black,
    "white": $white,
    "smoke": $smoke,
    "divider": $divider,
    "border-light": $border-light,
    "box-border": $box-border,
    "btn-outline": $btn-outline,
    "disable": $disable,
    "placeholder": $placeholder,
    "checkbox": $checkbox,
    "checkbox-bg": $checkbox-bg,

) !default;

$colors-Shade: (
    "primary-100": $primary,
) !default;

$colorScheme: map-merge($colors, $colors-Shade);

