$grid-columns : 12 !default;


$blue: #0d6efd !default;


$primary: #BE2530 !default;

$title: #252C32;

$primary-text: #BE2530;

$paragraph: #4E4E4E;

$secondary: #cf9e69;

$black: #222222;

$white: #ffffff;

$divider: rgba(34, 34, 34, 0.2);

$border-light: #E2E2E2;

$box-border: #DBDBDB;

$btn-outline: #9B9B9B;

$smoke:rgba(255, 255, 255, 0.9);

$disable: #ACACAC;

$placeholder: #8F969A;

$checkbox: #929598;

$checkbox-bg: #D1362F;
